.resetBtn {
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background-color: black;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  display: block;
background-image: repeating-linear-gradient(
      135deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      45deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      67.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      135deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      45deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      112.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      112.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      45deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      22.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      45deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      22.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      135deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      157.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      67.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    repeating-linear-gradient(
      67.5deg,
      hsla(264, 0%, 88%, 0.03) 0px,
      hsla(264, 0%, 88%, 0.03) 1px,
      transparent 1px,
      transparent 12px
    ),
    linear-gradient(90deg, rgb(210, 26, 149), rgb(57, 199, 205));
  
}

.resetBtn:hover {
  background-color: rgb(0, 119, 255);
}
