* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(
        100deg, rgba(63, 63, 63, 0.8) 
        0%, rgba(255, 255, 255, 0) 25%
    );
    font-family: "Arial", sans-serif;
}